after-login-command = []

# You can use it to add commands that run after AeroSpace startup.
# 'after-startup-command' is run after 'after-login-command'
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = [
  'exec-and-forget borders active_color=0xffe1e3e4 inactive_color=0xff494d64 width=5.0'
]

# Start AeroSpace at login
start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 10

# Possible values: tiles|accordion
default-root-container-layout = 'accordion'

# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'

key-mapping.preset = 'qwerty'

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']


[gaps]
inner.horizontal = 8
inner.vertical =   8
outer.left =       4
outer.bottom =     4
outer.top =        4
outer.right =      4

[mode.main.binding]
# Move workspaces
cmd-alt-ctrl-1 = 'workspace --auto-back-and-forth 1'
cmd-alt-ctrl-2 = 'workspace --auto-back-and-forth 2'
cmd-alt-ctrl-3 = 'workspace --auto-back-and-forth 3'
cmd-alt-ctrl-4 = 'workspace --auto-back-and-forth 4'
cmd-alt-ctrl-5 = 'workspace --auto-back-and-forth 5'
cmd-alt-ctrl-6 = 'workspace --auto-back-and-forth 6'
cmd-alt-ctrl-7 = 'workspace --auto-back-and-forth 7'
cmd-alt-ctrl-8 = 'workspace --auto-back-and-forth 8'
cmd-alt-ctrl-9 = 'workspace --auto-back-and-forth 9'
cmd-alt-ctrl-0 = 'workspace --auto-back-and-forth 10'

cmd-alt-ctrl-n = 'workspace --wrap-around next'
cmd-alt-ctrl-p = 'workspace --wrap-around prev'

# Focus Windows
cmd-alt-ctrl-h = 'focus --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors left'
cmd-alt-ctrl-l = 'focus --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors right'
cmd-alt-ctrl-j = 'focus --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors down'
cmd-alt-ctrl-k = 'focus --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors up'

# Move Windows in workspaces
shift-cmd-alt-ctrl-h = 'join-with left'
shift-cmd-alt-ctrl-l = 'join-with right'
shift-cmd-alt-ctrl-j = 'join-with down'
shift-cmd-alt-ctrl-k = 'join-with up'

# Move Windows to workspaces
shift-cmd-alt-ctrl-1 = 'move-node-to-workspace 1'
shift-cmd-alt-ctrl-2 = 'move-node-to-workspace 2'
shift-cmd-alt-ctrl-3 = 'move-node-to-workspace 3'
shift-cmd-alt-ctrl-4 = 'move-node-to-workspace 4'
shift-cmd-alt-ctrl-5 = 'move-node-to-workspace 5'
shift-cmd-alt-ctrl-6 = 'move-node-to-workspace 6'
shift-cmd-alt-ctrl-7 = 'move-node-to-workspace 7'
shift-cmd-alt-ctrl-8 = 'move-node-to-workspace 8'
shift-cmd-alt-ctrl-9 = 'move-node-to-workspace 9'
shift-cmd-alt-ctrl-0 = 'move-node-to-workspace 10'

# Summon Workspace To Monitors 
shift-cmd-alt-ctrl-f1 = 'summon-workspace 1'
shift-cmd-alt-ctrl-f2 = 'summon-workspace 2'
shift-cmd-alt-ctrl-f3 = 'summon-workspace 3'
shift-cmd-alt-ctrl-f4 = 'summon-workspace 4'
shift-cmd-alt-ctrl-f5 = 'summon-workspace 5'
shift-cmd-alt-ctrl-f6 = 'summon-workspace 6'
shift-cmd-alt-ctrl-f7 = 'summon-workspace 7'
shift-cmd-alt-ctrl-f8 = 'summon-workspace 8'
shift-cmd-alt-ctrl-f9 = 'summon-workspace 9'
shift-cmd-alt-ctrl-f10 = 'summon-workspace 10'

# Monitors use arrows?
# Want my workflow to be Focus monitor -> Summon Workspace
# i dont want to have Move to monitor binds... seems confusing
# ok but my keeb doesn't have arrow keys
# at least my focus moves
cmd-alt-ctrl-left = 'focus-monitor left'
cmd-alt-ctrl-right = 'focus-monitor right'
cmd-alt-ctrl-down = 'focus-monitor down'
cmd-alt-ctrl-up = 'focus-monitor up'

shift-cmd-alt-ctrl-n = 'move-node-to-monitor --focus-follows-window next'
shift-cmd-alt-ctrl-p = 'move-node-to-monitor --focus-follows-window prev'

# ZOOOOOOOOM
cmd-alt-ctrl-z = 'fullscreen'

# Float
cmd-alt-ctrl-f = 'layout floating tiling'

# Tiles 
cmd-alt-ctrl-comma = ['layout h_tiles v_tiles']
cmd-alt-ctrl-period = ['layout h_accordion v_accordion']

# i3 layout
cmd-alt-ctrl-e = 'layout tiles horizontal vertical'

# NEED Command modes to rearrange stuff in accordion
# And to move stuff to windows? Not an obstacle if super easy to move modes

# Mode 
cmd-alt-ctrl-enter = 'mode service'
cmd-alt-ctrl-r = 'mode resize'

# Setting all windows float by default. 
# As I use more apps, I'll create rules for them
[[on-window-detected]]
check-further-callbacks = true
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = ['layout tiling',' move-node-to-workspace 4']

# 'service' binding mode declaration.
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
[mode.service.binding]
esc = ['reload-config', 'mode main']
r = ['flatten-workspace-tree', 'mode main'] # reset layout
f = ['layout floating tiling', 'mode main'] # Toggle between floating and tiling layout
backspace = ['close-all-windows-but-current', 'mode main']
e = ['enable toggle', 'mode main']

# sticky is not yet supported https://github.com/nikitabobko/AeroSpace/issues/2
#s = ['layout sticky tiling', 'mode main']

[mode.resize.binding]
h = 'resize width +50'
l = 'resize width -50'
k = 'resize height +50'
j = 'resize height -50'

b = ['balance-sizes' , 'mode main']

enter = 'mode main'
esc = 'mode main'
